@font-face {
	font-family: PoppinD;
	src: url(/CodeBerryWebShop/Fonts/PoppinsD.ttf);
}
@font-face {
	font-family: PoppinN;
	src: url(/CodeBerryWebShop/Fonts/PoppinsN.ttf);
}
@font-face {
	font-family: Pusab;
	src: url(/CodeBerryWebShop/Fonts/Pusab.woff);
}