@media (min-width: 768px) {
	#cartContent{
		margin-top: 5px;
	}
	#content{
		width: 75vw;
		height: 100vh;
		margin-top: 5px;
		border: 2px solid rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
	}
	#contener {
		display: inline;
		position: relative;
		float: left;
		width: 20vw;
		margin: 15px 0 15px 15px;
		transition: 500ms;
	}
	.picture {
		width: 100%;
		height: 23vw;
		transition: 500ms;
	}
	.name {
		transition: 500ms;
		font-size: 1.2em;
	}
	.altName {
		font-size: 1rem;
	}
	.description {
		font-size: 0.9rem;
		margin-top: 1.5rem;
		line-height: 1rem;
	}
}
