@font-face {
	font-family: PoppinD;
	src: url(/CodeBerryWebShop/Fonts/PoppinsD.ttf);
}
@font-face {
	font-family: PoppinN;
	src: url(/CodeBerryWebShop/Fonts/PoppinsN.ttf);
}
body {
	display: block;
	position: relative;
}
#contener {
	display: block;
	position: relative;
	width: 95vw;
	margin: auto;
	box-shadow: 0px 0px 10px 10px rgba(75, 75, 75, 0.1);
}
.picture {
	width: 100%;
	height: 100%;
}
#data {
	width: 85%;
	margin: auto;
}
.name {
	font-family: PoppinN;
	font-size: 2rem;
	font-weight: 900;
	margin-top: 1.5rem;
}
.altName {
	font-size: 1.5rem;
	margin-top: 0.8rem;
}
.description {
	font-size: 1.4rem;
	margin-top: 1.5rem;
	line-height: 2rem;
}
.altName,
.description,
.button {
	font-family: PoppinD;
}
#buy {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 1.5rem auto;
}
#prize {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 50%;
}
#button {
	display: flex;
	justify-content: right;
	align-items: center;
	width: 50%;
}
.prize {
	font-family: poppinD;
	font-size: 2rem;
	font-weight: 900;
	margin: 1.5rem 1.5rem 1.5rem 0;
	padding: 10px 15px 10px 0;
}
.button {
	font-size: 1rem;
	margin: 1.5rem;
	background-color: rgb(172, 240, 105);
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 10px rgba(75, 75, 75, 0.1);
}
@media screen and (min-width: 768px) {
	#contener {
		display: inline;
		position: relative;
		float: left;
		width: 35vw;
		margin: 15px 0 15px 15px;
	}
}
